<a href="https://colab.research.google.com/github/bdunn20/book_code/blob/main/pandas_1.X_cookbook/Ch8_Index_Alignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Examining the Index object

In [1]:
import pandas as pd
import numpy as np

In [2]:
college = pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook-Second-Edition/master/data/college.csv')

columns = college.columns
columns

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

In [3]:
# us .values attribute to access the underlying Numpy array
columns.values

array(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY',
       'RELAFFIL', 'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS',
       'UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN',
       'UGDS_NHPI', 'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF',
       'CURROPER', 'PCTPELL', 'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10',
       'GRAD_DEBT_MDN_SUPP'], dtype=object)

In [4]:
# select items from the index by position w/ a scalar, list or slice
columns[5]

'WOMENONLY'

In [5]:
columns[[1, 8, 10]]

Index(['CITY', 'SATMTMID', 'UGDS'], dtype='object')

In [6]:
columns[-7:-4]

Index(['PPTUG_EF', 'CURROPER', 'PCTPELL'], dtype='object')

In [7]:
# indexes share many of the same methods as Series and DataFrames
columns.min(), columns.max(), columns.isnull().sum()

('CITY', 'WOMENONLY', 0)

In [8]:
# use basic arithmetic & comparison operators on Index objects
columns + "_A"

Index(['INSTNM_A', 'CITY_A', 'STABBR_A', 'HBCU_A', 'MENONLY_A', 'WOMENONLY_A',
       'RELAFFIL_A', 'SATVRMID_A', 'SATMTMID_A', 'DISTANCEONLY_A', 'UGDS_A',
       'UGDS_WHITE_A', 'UGDS_BLACK_A', 'UGDS_HISP_A', 'UGDS_ASIAN_A',
       'UGDS_AIAN_A', 'UGDS_NHPI_A', 'UGDS_2MOR_A', 'UGDS_NRA_A',
       'UGDS_UNKN_A', 'PPTUG_EF_A', 'CURROPER_A', 'PCTPELL_A', 'PCTFLOAN_A',
       'UG25ABV_A', 'MD_EARN_WNE_P10_A', 'GRAD_DEBT_MDN_SUPP_A'],
      dtype='object')

In [9]:
columns > "G"

array([ True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True])

In [11]:
# Indexes are immutable objects
columns[1] = "city"

TypeError: Index does not support mutable operations

In [12]:
# Indexes support the set operations (union, intersection, difference, symmetric diff)
c1 = columns[:4]
c1

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU'], dtype='object')

In [13]:
c2 = columns[2:6]
c2

Index(['STABBR', 'HBCU', 'MENONLY', 'WOMENONLY'], dtype='object')

In [14]:
c1.union(c2) # same as 'c1 | c2'

Index(['CITY', 'HBCU', 'INSTNM', 'MENONLY', 'STABBR', 'WOMENONLY'], dtype='object')

### Producing Cartesian products

In [15]:
# construct two Series that have indexes that are different but contain some of the same values
s1 = pd.Series(index=list("aaab"), data=np.arange(4))
s1

a    0
a    1
a    2
b    3
dtype: int64

In [16]:
s2 = pd.Series(index=list("cababb"), data=np.arange(6))
s2

c    0
a    1
b    2
a    3
b    4
b    5
dtype: int64

In [17]:
# add the two Series together to produce a Cartesian product
# for each a index value in s1, we add every a in s2
s1 + s2

a    1.0
a    3.0
a    2.0
a    4.0
a    3.0
a    5.0
b    5.0
b    7.0
b    8.0
c    NaN
dtype: float64

### Exploding Indexes

*This recipe is basically a what not do to!*

In [18]:
employee = pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook-Second-Edition/master/data/employee.csv?_sm_au_=iVVWLDQPlJVWHWMFBQvGvK7jj80tt', index_col="RACE")

employee.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
RACE,,,,,,,,,
Hispanic/Latino,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Full Time,Female,Active,2006-06-12,2012-10-13
Hispanic/Latino,1,LIBRARY ASSISTANT,Library,26125.0,Full Time,Female,Active,2000-07-19,2010-09-18
White,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,Full Time,Male,Active,2015-02-03,2015-02-03
White,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,Full Time,Male,Active,1982-02-08,1991-05-25
White,4,ELECTRICIAN,General Services Department,56347.0,Full Time,Male,Active,1989-06-19,1994-10-22

In [19]:
# select the BASE_SALARY column as two different Series
salary1 = employee["BASE_SALARY"]
salary2 = employee["BASE_SALARY"]

# check to see whether this operation created two new objects
salary1 is salary2

True

In [20]:
# use the .copy method to ensure you have a brand new copy of the data
salary2 = employee["BASE_SALARY"].copy()
salary1 is salary2

False

In [21]:
# change the order of the index by sorting it
salary1 = salary1.sort_index()
salary1.head()

RACE
American Indian or Alaskan Native    78355.0
American Indian or Alaskan Native    26125.0
American Indian or Alaskan Native    98536.0
American Indian or Alaskan Native        NaN
American Indian or Alaskan Native    55461.0
Name: BASE_SALARY, dtype: float64

In [22]:
salary2.head()

RACE
Hispanic/Latino    121862.0
Hispanic/Latino     26125.0
White               45279.0
White               63166.0
White               56347.0
Name: BASE_SALARY, dtype: float64

In [23]:
# add the Series together
salary_add = salary1 + salary2
salary_add.head()

RACE
American Indian or Alaskan Native    138702.0
American Indian or Alaskan Native    156710.0
American Indian or Alaskan Native    176891.0
American Indian or Alaskan Native    159594.0
American Indian or Alaskan Native    127734.0
Name: BASE_SALARY, dtype: float64

In [24]:
# add salary1 to itself and output the lengths of each Series
salary_add1 = salary1 + salary1
len(salary1), len(salary2), len(salary_add), len(salary_add1)

(2000, 2000, 1175424, 2000)

### Filling values with unequal indexes

In [25]:
# add together multiple Series with unequal (but unique) indexes
# using the .add method w/ the fill_value parameter to ensure no missing values
baseball_14 = pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook-Second-Edition/master/data/baseball14.csv?_sm_au_=iVVWLDQPlJVWHWMFBQvGvK7jj80tt', index_col="playerID")
baseball_15 = pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook-Second-Edition/master/data/baseball15.csv?_sm_au_=iVVWPPnJffntZBk3BQvGvK7jj80tt', index_col="playerID")
baseball_16 = pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook-Second-Edition/master/data/baseball16.csv?_sm_au_=iVVWPPnJffntZBk3BQvGvK7jj80tt', index_col="playerID")

baseball_14.head()

,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
altuvjo01,2014,1,HOU,AL,158,660,85,225,47,3,...,59.0,56.0,9.0,36,53.0,7.0,5.0,1.0,5.0,20.0
cartech02,2014,1,HOU,AL,145,507,68,115,21,1,...,88.0,5.0,2.0,56,182.0,6.0,5.0,0.0,4.0,12.0
castrja01,2014,1,HOU,AL,126,465,43,103,21,2,...,56.0,1.0,0.0,34,151.0,1.0,9.0,1.0,3.0,11.0
corpoca01,2014,1,HOU,AL,55,170,22,40,6,0,...,19.0,0.0,0.0,14,37.0,0.0,3.0,1.0,2.0,3.0
dominma01,2014,1,HOU,AL,157,564,51,121,17,0,...,57.0,0.0,1.0,29,125.0,2.0,5.0,2.0,7.0,23.0

In [26]:
# use the .difference method on the index to discover which index labels are in baseball_14 and not in baseball_15
baseball_14.index.difference(baseball_15.index)

Index(['corpoca01', 'dominma01', 'fowlede01', 'grossro01', 'guzmaje01',
       'hoeslj01', 'krausma01', 'preslal01', 'singljo02'],
      dtype='object', name='playerID')

In [27]:
baseball_15.index.difference(baseball_14.index)

Index(['congeha01', 'correca01', 'gattiev01', 'gomezca01', 'lowrije01',
       'rasmuco01', 'tuckepr01', 'valbulu01'],
      dtype='object', name='playerID')

In [28]:
# how many hits did each player have in total over the three-year period?
hits_14 = baseball_14["H"]
hits_15 = baseball_15["H"]
hits_16 = baseball_16["H"]
hits_14.head()

playerID
altuvjo01    225
cartech02    115
castrja01    103
corpoca01     40
dominma01    121
Name: H, dtype: int64

In [29]:
# add together the 14 & 15 Series
(hits_14 + hits_15).head()

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01      NaN
corpoca01      NaN
Name: H, dtype: float64

In [30]:
# use the add method to avoid the above NaN where players without any hits in a given season throw an error
hits_14.add(hits_15, fill_value=0).head()

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01     46.0
corpoca01     40.0
Name: H, dtype: float64

In [31]:
# add the 2016 Series
hits_total = hits_14.add(hits_15, fill_value=0).add(hits_16, fill_value=0)
hits_total.head()

playerID
altuvjo01    641.0
bregmal01     53.0
cartech02    193.0
castrja01    243.0
congeha01     46.0
Name: H, dtype: float64

In [32]:
# check for missing values
hits_total.hasnans

False

In [33]:
# add Series w/ only a single index together
df_14 = baseball_14[["G", "AB", "R", "H"]]
df_14.head()

             G   AB   R    H
playerID
altuvjo01  158  660  85  225
cartech02  145  507  68  115
castrja01  126  465  43  103
corpoca01   55  170  22   40
dominma01  157  564  51  121

In [34]:
# select a few of the same and a few diff columns from 2015 data
df_15 = baseball_15[["AB", "R", "H", "HR"]]
df_15.head()

            AB   R    H  HR
playerID
altuvjo01  638  86  200  15
cartech02  391  50   78  24
castrja01  337  38   71  11
congeha01  201  25   46  11
correca01  387  52  108  22

In [35]:
# adding the df together creates missing values wherever rows or column labels cannot align
# use the .style attribute and call .highlight_null
(df_14 + df_15).head(10).style.highlight_null('yellow')

# Adding columns from different DataFrames

In [36]:
dept_sal = employee[["DEPARTMENT", "BASE_SALARY"]]

In [37]:
# sort by salary within each dept
dept_sal = dept_sal.sort_values(["DEPARTMENT", "BASE_SALARY"], ascending=[True, False])

In [39]:
# use .drop_duplicates method to keep first row of each DEPARTMENT
max_dept_sal = dept_sal.drop_duplicates(subset="DEPARTMENT")
max_dept_sal.head()

                                             DEPARTMENT  BASE_SALARY
RACE
White                        Admn. & Regulatory Affairs     140416.0
Hispanic/Latino                City Controller's Office      64251.0
Black or African American                  City Council     100000.0
Hispanic/Latino            Convention and Entertainment      38397.0
Black or African American   Dept of Neighborhoods (DON)      89221.0

In [40]:
# put the DEPARTMENT column into the index for each df
max_dept_sal = max_dept_sal.set_index("DEPARTMENT")
employee2 = employee.set_index("DEPARTMENT")

In [43]:
employee2 = employee2.assign(MAX_DEPT_SALARY=max_dept_sal["BASE_SALARY"])
employee2

,UNIQUE_ID,POSITION_TITLE,BASE_SALARY,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,MAX_DEPT_SL,MAX_DEPT_SALARY
DEPARTMENT,,,,,,,,,,
Municipal Courts Department,0,ASSISTANT DIRECTOR (EX LVL),121862.0,Full Time,Female,Active,2006-06-12,2012-10-13,121862.0,121862.0
Library,1,LIBRARY ASSISTANT,26125.0,Full Time,Female,Active,2000-07-19,2010-09-18,107763.0,107763.0
Houston Police Department-HPD,2,POLICE OFFICER,45279.0,Full Time,Male,Active,2015-02-03,2015-02-03,199596.0,199596.0
Houston Fire Department (HFD),3,ENGINEER/OPERATOR,63166.0,Full Time,Male,Active,1982-02-08,1991-05-25,210588.0,210588.0
General Services Department,4,ELECTRICIAN,56347.0,Full Time,Male,Active,1989-06-19,1994-10-22,89194.0,89194.0
...,...,...,...,...,...,...,...,...,...,...
Houston Police Department-HPD,1995,POLICE OFFICER,43443.0,Full Time,Male,Active,2014-06-09,2015-06-09,199596.0,199596.0
Houston Fire Department (HFD),1996,COMMUNICATIONS CAPTAIN,66523.0,Full Time,Male,Active,2003-09-02,2013-10-06,210588.0,210588.0
Houston Police Department-HPD,1997,POLICE OFFICER,43443.0,Full Time,Male,Active,2014-10-13,2015-10-13,199596.0,199596.0
Houston Police Department-HPD,1998,POLICE OFFICER,55461.0,Full Time,Male,Active,2009-01-20,2011-07-02,199596.0,199596.0
Houston Fire Department (HFD),1999,FIRE FIGHTER,51194.0,Full Time,Male,Active,2009-01-12,2010-07-12,210588.0,210588.0

In [44]:
# validate our resluts with the query method to check whether there exist
# any rows where BASE_SALARY is > MAX_DEPT_SALARY
employee2.query("BASE_SALARY > MAX_DEPT_SALARY")

Empty DataFrame
Columns: [UNIQUE_ID, POSITION_TITLE, BASE_SALARY, EMPLOYMENT_TYPE, GENDER, EMPLOYMENT_STATUS, HIRE_DATE, JOB_DATE, MAX_DEPT_SL, MAX_DEPT_SALARY]
Index: []

In [45]:
# alternative method using .groupby combined w/ .transform
max_sal = employee.groupby("DEPARTMENT").BASE_SALARY.transform("max")

In [46]:
employee.assign(MAX_DEPT_SAL=max_sal)

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,MAX_DEPT_SAL
RACE,,,,,,,,,,
Hispanic/Latino,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Full Time,Female,Active,2006-06-12,2012-10-13,121862.0
Hispanic/Latino,1,LIBRARY ASSISTANT,Library,26125.0,Full Time,Female,Active,2000-07-19,2010-09-18,107763.0
White,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,Full Time,Male,Active,2015-02-03,2015-02-03,199596.0
White,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,Full Time,Male,Active,1982-02-08,1991-05-25,210588.0
White,4,ELECTRICIAN,General Services Department,56347.0,Full Time,Male,Active,1989-06-19,1994-10-22,89194.0
...,...,...,...,...,...,...,...,...,...,...
White,1995,POLICE OFFICER,Houston Police Department-HPD,43443.0,Full Time,Male,Active,2014-06-09,2015-06-09,199596.0
Black or African American,1996,COMMUNICATIONS CAPTAIN,Houston Fire Department (HFD),66523.0,Full Time,Male,Active,2003-09-02,2013-10-06,210588.0
White,1997,POLICE OFFICER,Houston Police Department-HPD,43443.0,Full Time,Male,Active,2014-10-13,2015-10-13,199596.0
Asian/Pacific Islander,1998,POLICE OFFICER,Houston Police Department-HPD,55461.0,Full Time,Male,Active,2009-01-20,2011-07-02,199596.0
Hispanic/Latino,1999,FIRE FIGHTER,Houston Fire Department (HFD),51194.0,Full Time,Male,Active,2009-01-12,2010-07-12,210588.0

### Highlighting the maxiumu value from each column

In [49]:
college = pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook-Second-Edition/master/data/college.csv', index_col="INSTNM")
college.dtypes

CITY                   object
STABBR                 object
HBCU                  float64
MENONLY               float64
WOMENONLY             float64
RELAFFIL                int64
SATVRMID              float64
SATMTMID              float64
DISTANCEONLY          float64
UGDS                  float64
UGDS_WHITE            float64
UGDS_BLACK            float64
UGDS_HISP             float64
UGDS_ASIAN            float64
UGDS_AIAN             float64
UGDS_NHPI             float64
UGDS_2MOR             float64
UGDS_NRA              float64
UGDS_UNKN             float64
PPTUG_EF              float64
CURROPER                int64
PCTPELL               float64
PCTFLOAN              float64
UG25ABV               float64
MD_EARN_WNE_P10        object
GRAD_DEBT_MDN_SUPP     object
dtype: object

In [50]:
# all cols besides CITY and STABBR appear to be numeric
# MD_EARN_WNE_P10 & GRAD_DEBT_MDN_SUPP are of object type and also not numeric
# sample these columns to get a better idea
college.MD_EARN_WNE_P10.sample(10, random_state=42)

INSTNM
Career Point College                                            20700
Ner Israel Rabbinical College                       PrivacySuppressed
Reflections Academy of Beauty                                     NaN
Capital Area Technical College                                  26400
West Virginia University Institute of Technology                43400
Mid-State Technical College                                     32000
Strayer University-Huntsville Campus                            49200
National Aviation Academy of Tampa Bay                          45000
University of California-Santa Cruz                             43000
Lexington Theological Seminary                                    NaN
Name: MD_EARN_WNE_P10, dtype: object

In [51]:
college.GRAD_DEBT_MDN_SUPP.sample(10, random_state=42)

INSTNM
Career Point College                                            14977
Ner Israel Rabbinical College                       PrivacySuppressed
Reflections Academy of Beauty                       PrivacySuppressed
Capital Area Technical College                      PrivacySuppressed
West Virginia University Institute of Technology                23969
Mid-State Technical College                                      8025
Strayer University-Huntsville Campus                          36173.5
National Aviation Academy of Tampa Bay                          22778
University of California-Santa Cruz                             19884
Lexington Theological Seminary                      PrivacySuppressed
Name: GRAD_DEBT_MDN_SUPP, dtype: object

In [52]:
# values are strings but we'd prefer them to be numeric
# use .value_counts to determine any characters which caused non-numeric data type
college.MD_EARN_WNE_P10.value_counts()

PrivacySuppressed    822
38800                151
21500                 97
49200                 78
27400                 46
                    ...
84000                  1
66900                  1
52800                  1
67800                  1
186500                 1
Name: MD_EARN_WNE_P10, Length: 598, dtype: int64

In [53]:
set(college.MD_EARN_WNE_P10.apply(type))

{float, str}

In [54]:
college.GRAD_DEBT_MDN_SUPP.value_counts()

PrivacySuppressed    1510
9500                  514
27000                 306
25827.5               136
25000                 124
                     ...
9604                    1
19262                   1
8099                    1
8050                    1
11061                   1
Name: GRAD_DEBT_MDN_SUPP, Length: 2038, dtype: int64

In [55]:
# force these columns to numeric data type using .to_numeric
# using errors='coerce' parameter converts problematic values to NaN
cols = ["MD_EARN_WNE_P10", "GRAD_DEBT_MDN_SUPP"]
for col in cols:
  college[col] = pd.to_numeric(college[col], errors='coerce')

In [56]:
college.dtypes.loc[cols]

MD_EARN_WNE_P10       float64
GRAD_DEBT_MDN_SUPP    float64
dtype: object

In [57]:
# use .select_dtypes method to filter only numeric columns
# this will exclude STABBR and CITY columns, where max value doesn't make sense
college_n = college.select_dtypes("number")
college_n.head()

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600.0,33118.5

In [58]:
# several columns have binary values (0 or 1) which are also not useful for max values
# create a Boolean Series to find all columns that have two unique values using .nunique
binary_only = college_n.nunique() == 2
binary_only.head()

HBCU          True
MENONLY       True
WOMENONLY     True
RELAFFIL      True
SATVRMID     False
dtype: bool

In [59]:
# use Boolean array to create list of binary columns
binary_cols = binary_only[binary_only].index
binary_cols

Index(['HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL', 'DISTANCEONLY', 'CURROPER'], dtype='object')

In [60]:
# drop binary columns using .drop method
college_n2 = college_n.drop(columns=binary_cols)
college_n2.head()

,SATVRMID,SATMTMID,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,
Alabama A & M University,424.0,420.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,570.0,565.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,NaN,NaN,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,595.0,590.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,425.0,430.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,0.7347,0.7554,0.1270,26600.0,33118.5

In [61]:
# use the .idxmax method to find the index label of the max value for each col
max_cols = college_n2.idxmax()
max_cols

SATVRMID                             California Institute of Technology
SATMTMID                             California Institute of Technology
UGDS                                      University of Phoenix-Arizona
UGDS_WHITE                       Mr Leon's School of Hair Design-Moscow
UGDS_BLACK                           Velvatex College of Beauty Culture
UGDS_HISP                       Thunderbird School of Global Management
UGDS_ASIAN                          Cosmopolitan Beauty and Tech School
UGDS_AIAN                             Haskell Indian Nations University
UGDS_NHPI                                       Palau Community College
UGDS_2MOR                                                 LIU Brentwood
UGDS_NRA               California University of Management and Sciences
UGDS_UNKN             Le Cordon Bleu College of Culinary Arts-San Fr...
PPTUG_EF                        Thunderbird School of Global Management
PCTPELL                                        MTI Business College Inc
PCTFLOAN                                         ABC Beauty College Inc
UG25ABV                                  Dongguk University-Los Angeles
MD_EARN_WNE_P10                            Medical College of Wisconsin
GRAD_DEBT_MDN_SUPP           Southwest University of Visual Arts-Tucson
dtype: object

In [62]:
# call the .unique method on the max_cols Series to return an ndarray of
# the index values in college_n2 that has max values
unique_max_cols = max_cols.unique()
unique_max_cols[:5]

array(['California Institute of Technology',
       'University of Phoenix-Arizona',
       "Mr Leon's School of Hair Design-Moscow",
       'Velvatex College of Beauty Culture',
       'Thunderbird School of Global Management'], dtype=object)

In [63]:
# use the values of max_cols to select only those rows that have schools w/ a
# max value and then use the .style attribute to highlight these values
college_n2.loc[unique_max_cols].style.highlight_max()

In [64]:
# display the max column values
# refactor to make easier to read
def remove_binary_cols(df):
  binary_only = df.nunique() == 2
  cols = binary_only[binary_only].index.tolist()
  return df.drop(columns=cols)

def select_rows_with_max_cols(df):
  max_cols = df.idxmax()
  unique = max_cols.unique()
  return df.loc[unique]

(college.assign(MD_EARN_WNE_P10=pd.to_numeric(college.MD_EARN_WNE_P10, errors="coerce"),
                GRAD_DEBT_MDN_SUPP=pd.to_numeric(college.GRAD_DEBT_MDN_SUPP, errors="coerce"),
                ).select_dtypes("number").pipe(remove_binary_cols).pipe(select_rows_with_max_cols))

,SATVRMID,SATMTMID,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,
California Institute of Technology,765.0,785.0,983.0,0.2787,0.0153,0.1221,0.4385,0.0010,0.0000,0.0570,0.0875,0.0000,0.0000,0.1126,0.2303,0.0082,77800.0,11812.5
University of Phoenix-Arizona,NaN,NaN,151558.0,0.3098,0.1555,0.0760,0.0082,0.0042,0.0050,0.1131,0.0131,0.3152,0.0000,0.6009,0.5920,NaN,NaN,33000.0
Mr Leon's School of Hair Design-Moscow,NaN,NaN,16.0,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.6250,0.6250,0.2000,NaN,15710.0
Velvatex College of Beauty Culture,NaN,NaN,25.0,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.2000,0.7692,0.0000,0.5200,NaN,NaN
Thunderbird School of Global Management,NaN,NaN,1.0,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,118900.0,NaN
Cosmopolitan Beauty and Tech School,NaN,NaN,110.0,0.0091,0.0000,0.0182,0.9727,0.0000,0.0000,0.0000,0.0000,0.0000,0.3182,0.7761,0.1244,0.9545,NaN,NaN
Haskell Indian Nations University,430.0,440.0,805.0,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0224,0.8396,0.0000,0.2089,22800.0,NaN
Palau Community College,NaN,NaN,602.0,0.0000,0.0017,0.0000,0.0000,0.0000,0.9983,0.0000,0.0000,0.0000,0.3887,0.8560,0.0000,0.2616,24700.0,NaN
LIU Brentwood,NaN,NaN,15.0,0.0000,0.1333,0.2667,0.0000,0.0000,0.0000,0.5333,0.0000,0.0667,0.4000,0.5652,0.7826,0.7826,44600.0,25499.0
California University of Management and Sciences,NaN,NaN,98.0,0.0102,0.0204,0.0000,0.0408,0.0000,0.0000,0.0000,0.9286,0.0000,0.0000,0.0926,0.0556,0.6852,NaN,NaN
Le Cordon Bleu College of Culinary Arts-San Francisco,NaN,NaN,442.0,0.0317,0.0090,0.0113,0.0271,0.0045,0.0023,0.0113,0.0000,0.9027,0.0000,0.3722,0.5358,0.5440,34000.0,12931.0
MTI Business College Inc,NaN,NaN,146.0,0.2397,0.5137,0.1438,0.0479,0.0342,0.0205,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.3986,23000.0,9500.0
ABC Beauty College Inc,NaN,NaN,38.0,0.2895,0.6579,0.0526,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.2105,0.9815,1.0000,0.4688,NaN,16500.0
Dongguk University-Los Angeles,NaN,NaN,20.0,0.3500,0.0000,0.1500,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,1.0000,NaN,NaN
Medical College of Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233100.0,NaN
Southwest University of Visual Arts-Tucson,NaN,NaN,161.0,0.4534,0.0435,0.3168,0.0062,0.0311,0.0000,0.0000,0.0000,0.1491,0.2795,0.4469,0.4292,0.8657,27200.0,49750.0

In [66]:
# by default .highlight_max method highlights the max value of each col
# we can use the axis parameter to highlight the max value of each row instead
college_ugds = college.filter(like="UGDS_").head()
college_ugds.style.highlight_max(axis="columns")